# Emacs backup files
*~
*#
.#*
# Vim file artifacts
.*.sw*
# installed platform-specific binaries
bin
/config
.DS_Store
.project
# omit Go vendor directories
vendor/
.vscode
.gradle
.idea
# Dependency directories
build
external-chaincode/

# Eclipse
.classpath
.settings
#
bin/
ci/
node_modules
dist
src/fabric/wallet
upload
storage
revokes